<template name="playerSubmit">
  <form class="main form page">

    <div class="form group">
      <label class="control-label" for="name">Name</label>
      <div class="controls">
        <input name="name" id="name" type="text" value="" placeholder="Enter your Name" class="form-control" />
      </div>
    </div>

    <div class="form group">
      <label class="control-label" for="date"></label>
      <div class="controls">
        <input type="checkbox" name="friday" value="Friday" class="form-control"> Friday
        <input type="checkbox" name="saturday" value="Saturday" class="form-control">Saturday
        <input type="checkbox" name="sunday" value="Sunday" class="form-control"> Sunday
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="specialcomments">Special Comments</label>
      <div class="controls">
        <input name="specialcomments" id="specialcomments" type="text" value="" placeholder="" class="form-control"/>
      </div>
    </div>

    <input type="submit" value="submit" class="btn btn-primary" />
  </form>
</template>
