<template name="playerEdit">

  <form class="main form page" id="form">

    <div class="form group">
      <label class="control-label" for="playername">Game {{title}}</label>
      <div class="controls">
        <input name="playername" id="playername" type="text" value={{playername}} class="form-control" />
      </div>
    </div>

    <div class="form group">
      <label class="control-label space" for="date">What days will you be attending?</label>
      <div class="controls">
        <div class="container">
          <div class="row">
              <div class="col-md-3"><input type="checkbox" name="thursday" id="thursday" value="Thursday" class="" {{thursday}}> Thursday Night</div>
              <div class="col-md-3"><input type="checkbox" name="friday" id="friday" value="Friday" class="" {{friday}}> Friday</div>
              <div class="col-md-3"><input type="checkbox" name="saturday" id="saturday" value="Saturday" class="" {{saturday}}> Saturday</div>
              <div class="col-md-3"><input type="checkbox" name="sunday" id="sunday" value="Sunday" class="" {{sunday}}> Sunday</div>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label space" for="specialcomments">What games do you want to play?</label>
      <div class="controls">
        <div class="container">
          <div class="row">
            {{#each events}}
                <!-- {{> eventSignup}} -->
            {{/each}}
            {{#each elementToReturn}}

                <p>Key is: {{key}}</p>
                <p>Value is: {{value}}</p>

            {{/each}}

          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label space" for="specialcomments">Special Comments</label>
      <div class="controls">
        <input name="specialcomments" id="specialcomments" type="text" value="" placeholder="" class="form-control"/>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-2"><input type="submit" value="Submit Changes" class="btn btn-primary" /></div>
        <div class="col-md-2"><a class="btn btn-primary" href="#">Cancel</a></div>
        <div class="col-md-3"><a class="btn btn-danger delete" href="#">Delete post</a></div>
      </div>
    </div>
  </form>



</template>
