<template name="playerSubmit">
  <form class="main form page" id="form">

    <div class="form group">
      <label class="control-label" for="playername">Name</label>
      <div class="controls">
        <input name="playername" id="playername" type="text" value="" placeholder="Enter your Name" class="form-control" />
      </div>
    </div>

    <div class="form group">
      <label class="control-label space" for="date">What days will you be attending?</label>
      <div class="controls">
        <div class="container">
          <div class="row">
              <div class="col-md-3"><input type="checkbox" name="friday" id="friday" value="Friday" class=""> Thursday Night</div>
              <div class="col-md-3"><input type="checkbox" name="friday" id="friday" value="Friday" class=""> Friday</div>
              <div class="col-md-3"><input type="checkbox" name="saturday" id="saturday" value="Saturday" class=""> Saturday</div>
              <div class="col-md-3"><input type="checkbox" name="sunday" id="sunday" value="Sunday" class=""> Sunday</div>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label space" for="specialcomments">What games do you want to play?</label>
      <div class="controls">
        <div class="container">
          <div class="row">
            {{#each events}}
              <div class="col-md-2"><input type="checkbox" name={{title}} id={{title}} value={{title}} class=""> {{title}}</div>
            {{/each}}
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label space" for="specialcomments">Special Comments</label>
      <div class="controls">
        <input name="specialcomments" id="specialcomments" type="text" value="" placeholder="" class="form-control"/>
      </div>
    </div>

    <input type="submit" value="submit" class="btn btn-primary" />
  </form>
</template>
