<template name='mainDetails'>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1>Randy Con 1.5</h1>
        <h3>Dates: September 3rd - 6th, 2015 </h3>
      </div>
      <div class="col-md-6">
        <h2>What to bring:</h2>
        <h4>Yourself, games and snacks to share!</h4>
        <h4>Breakfast, Lunch and Dinner are on your own.</h4>
      </div>
    </div>
    <div class="row times">
      <h4>Location: Randy's House</h4>
      <h4>Times:</h4>
      <ul>
        <li>September 3rd, Thursday: 7pm until close</li>
        <li>September 4th, Thursday: 10am until close</li>
        <li>September 5th, Thursday: 10am until close</li>
        <li>September 6th, Thursday: 10am until 5pm</li>
      </ul>
    </div>
  </div>
</template>
