<template name="eventItem">
      <div class="col-md-3 gameBox">
        {{#if ownPost}}
        <!-- <a href="{{pathFor 'eventEdit'}}">Edit</a> -->
        <input type="image" src="delete.png" name="delete" class="delete" />
        {{/if}}
        <h3><a href="{{pathFor 'eventPage'}}">{{gameTitle}}</a><span>{{day}}</span></h3>
        <p>Available: {{days}}</p>
        {{#if url}}<a href="{{url}}" class="">Geek Page</a>{{/if}}
        <p>
          This Title brought by {{author}}

        </p>
  </div>
</template>
