<template name="eventItem">
      <div class="col-md-4 gameBox">

        <h3><a href="{{pathFor 'eventPage'}}">{{gameTitle}} </a><button type="button" class="signup">SignUp</button></h3>
        <span class="gamebringer">Brought by {{author}}</span>
        <div class="row">
          <div class="col-xs-12">
          <table class="table table-bordered">
            <tr>
                <td>Available:</td>
                <td>{{days}}</td>
            </tr>
            <tr>
              <td>Number of Players</td>
              <td>{{numPlayers}}</td>
            </tr>
            <tr>
              <td>Slots Remaining</td>
              <td>{{playersRemain}}</td>
            </tr>
            <tr>
              <td>Registered Players:</td>
              <td> {{#each playerList}} {{this}} {{/each}}</td>
            </tr>
          </table>
        </div>
      </div>
  </div>
</template>
